@tailwind base;
@tailwind components;
@tailwind utilities;

.header-bg {
    background-color: #ffffff4d;
    background-image: linear-gradient(96.3deg, #9eeba5ff 15%, #60ebe6ff 77%, #fffbebff 100%),
    linear-gradient(263.9deg, #fcffebff 0%, #a8f2afff 16%, #12bbe0ff 74%, #fffbebff 96%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto, auto;
}

.circle-gradiant {
    background: rgb(96, 235, 230);
    background: -moz-radial-gradient(circle, rgba(96, 235, 230, 1) 20%, rgba(200, 228, 227, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(96, 235, 230, 1) 20%, rgba(200, 228, 227, 1) 100%);
    background: radial-gradient(circle, rgba(96, 235, 230, 1) 20%, rgba(200, 228, 227, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#60ebe6", endColorstr="#c8e4e3", GradientType=1);
}