@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.font-bold {
    font-weight: 900;
}

.header-bg {
    background-color: #ffffff4d;
    background-image: linear-gradient(96.3deg, #9eeba5ff 15%, #60ebe6ff 77%, #fffbebff 100%),
    linear-gradient(263.9deg, #fcffebff 0%, #a8f2afff 16%, #12bbe0ff 74%, #fffbebff 96%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto, auto;
}

.circle-gradiant {
    background: rgb(96, 235, 230);
    background: -moz-radial-gradient(circle, rgba(96, 235, 230, 1) 20%, rgba(200, 228, 227, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(96, 235, 230, 1) 20%, rgba(200, 228, 227, 1) 100%);
    background: radial-gradient(circle, rgba(96, 235, 230, 1) 20%, rgba(200, 228, 227, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#60ebe6", endColorstr="#c8e4e3", GradientType=1);
}
/* TitleCard.tsx --------------------------------------------- */

.introCard .title p {
    margin-left: 80px;
    margin-top: 0;
    width: 50%;
    font-size: 115%;
    font-weight: 100;
    font-style: italic;
}

.introCard .title .two {
    font-size: 150%;
    font-weight: 300;
    margin-top: 15px;
}

.introCard .definition ol li::marker {
    font-weight: bold;
    font-style: normal
}

.button {
    height: 80px;
    display: flex;
    align-items: center;
    text-align: left;
}

/* .introCard {
    border: 1px solid black;
    border-radius: 40px;
    box-shadow: -10px 11px 2px rgb(199, 199, 201);
    width: 950px;
    height: 350px;
    margin: 80px auto 0;
    padding: 50px 30px 15px 0px;
    display: flex;
}
*/

/* .introCard .title {
    width: 47%;
}
*/

/* .introCard .title h2 {
    font-size: 375%;
    font-weight: bold;
    text-align: center;
}
*/

/* .introCard .definition {
    width: 53%;
}
*/

/* .introCard .definition ol {
    list-style-type: decimal;
    padding: 11% 8% 0 6%;
    font-size: 112%;
    font-weight: 200;
    font-style: normal;
}
*/

/*.introCard .definition .one {
    font-weight: 400;
    font-style: italic;
    margin-bottom: 40px;
}
*/

/* TitleCard.tsx --------------------------------------------- */

.circle {
    font-weight: 500;
}

.aboutText {
    font-weight: 200;
}

.bold {
    font-weight: 400;
}


